[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
cryptography = "*"
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "==1.4.1"
aiofiles = "*"
pytest = "*"
databases = {extras = ["aiosqlite"], version = "*"}
couchbase = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.9"
